<ion-header>
  <ion-toolbar>
    <ion-title>Añadir Restaurante</ion-title>
    <ion-buttons slot="end">
      <!-- TODO - Añadiremos un botón para cancelar y cerrar el Modal-->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Añadir el [formGroup] y (ngSubmit) para guardar-->
  <form>
    <ion-list lines="full">
      <!-- TODO - Añadir los campos necesarios a cada ion-input-->
      <!-- Nombre -->
      <ion-item>
        <ion-input>
        </ion-input>
      </ion-item>
      <!-- TODO - documentName debe ser obligatorio y habrá que comprobar si es invalid && touched
                - Mostramos un texto "El nombre es obligatorio" mediante <ion-text><small>  
        -->
      @if (form.get('documentName')?.invalid && form.get('documentName')?.touched) {
        <ion-text color="danger" class="ion-padding-start">
          <small>El nombre es obligatorio</small>
        </ion-text>
      }

      <!-- Territorio -->
      <ion-item>
        <ion-input>
        </ion-input>
      </ion-item>
      <!-- TODO - territory debe ser obligatorio y habrá que comprobar si es invalid && touched
                - Mostramos un texto "El territorio es obligatorio" mediante <ion-text><small>  
        -->

      <!-- Localidad -->
      <ion-item>
        <ion-input>
        </ion-input>
      </ion-item>

      <!-- Dirección -->
      <ion-item>
        <ion-input>
        </ion-input>
      </ion-item>

      <!-- Teléfono -->
      <ion-item>
        <ion-input
          type="tel"
          formControlName="phone">
        </ion-input>
      </ion-item>

      <!-- Web -->
      <ion-item>
        <ion-input
          type="url"
          formControlName="web">
        </ion-input>
      </ion-item>

      <!-- Estrellas Michelin -->
      <ion-item>
        <ion-input
          type="number"
          min="0"
          max="3"
          formControlName="michelinStar">
        </ion-input>
      </ion-item>

      <!-- Soles Repsol -->
      <ion-item>
        <ion-input
          type="number"
          min="0"
          max="3"
          formControlName="repsolSun">
        </ion-input>
      </ion-item>

    </ion-list>

    <!-- TOOD - Se valorará añadir y controlar un spinner y hacer uso de Signals guardando para mostrar un mensaje u otro-->
    <div class="ion-padding-top">

    </div>

  </form>
</ion-content>
